body {
	/* Style */
	background-color: #1C5F7C;
	color: rgba(255, 255, 255, 0.9);
	font-family: "Roboto", sans-serif;
	margin: 0;
	/* Background  */
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	animation: changeBackgroundImage 33s infinite;
	animation-timing-function: linear;
	animation-delay: 0s;

}

.container{
	/* Structure */
	margin:0;
	height: 100%;
	padding: 4em 2.5em;
	display: flex;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
	flex-direction: column; 
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
	justify-content: flex-end;
		-moz-justify-content: flex-end;
		-webkit-justify-content: flex-end;
		-ms-justify-content: flex-end;
	height: 100vh;
	box-sizing: border-box;

	background-color: rgba(0, 0, 0, 0.7);
							
}

header, footer {
	/* For testing */
	/* border: 2px solid orange ; */
	max-width: 61vw;
}

header {
	max-width: 61vw;
	color: white;
}

header p {
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.6;
}

footer{
	max-width: 59vw;
	margin-top: 1.4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: opacity 1.5s ease-in-out;
	opacity: 0.6;
	font-size: 2.2em;
}
	footer:hover {
		opacity: 1;
	}

svg {
	fill: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}


.icon {
	height: 1em;
	width: 1em; 
}

.label {
	display: none;
}


/* Text */
.maj:hover {
	color: #1cb495;
}

.min:hover {
	color: #ff9a6b;
}

a {
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
	color: #1cb495;
	text-decoration: none;
	border:none;
}
	a:hover {
		border-bottom-color: transparent;
		color: #1cb495 ;
		text-decoration: none;
	}

/* Responsive */
@media only screen and (min-width: 600px) and (max-width: 1279px){
	body {
		font-size: 1.6em;
	}

	footer {
		margin-top: 2em;
		max-width: 40vw;
		font-size: 1.6em;
	}
}

@media only screen and (min-width: 1280px)   {

	body {
		font-size: 2em;
	}

	footer {
		margin-top: 3em;
		max-width: 7em;
		font-size: 1.4em;
	}
}

@keyframes changeBackgroundImage {
	0% {
		background-image: url('../../images/bg01.jpg');
		background-position: left center;
	}
	14.999%{
		background-image: url('../../images/bg01.jpg');
		background-position: 30% center;
	}
	15% {
		background-image: url('../../images/Regulation-Web3-REG3.webp');
			background-position: left center;
	}
	29.999%{
		 background-image: url('../../images/Regulation-Web3-REG3.webp');
		 background-position: center center;
	}
	30% {
		background-image: url('../../images/stablecoins-interview.webp');
		background-position: 40% center;
	}
	44.999% {
		background-image: url('../../images/stablecoins-interview.webp');
		background-position: 57% center;
	}
	45% {
		background-image: url('../../images/CNAM-Amphitheater.webp');
		background-position: 50% center;
	}
	54.999%{
		background-image: url('../../images/CNAM-Amphitheater.webp');
		background-position: 40% center;
	}
	55% {
		background-image: url('../../images/xavier-stablecoin-summit.webp');
		background-position: left center;
	}
	64.999%{
		background-image: url('../../images/xavier-stablecoin-summit.webp');
		background-position: 45% center;
	}
	65% {
		background-image: url('../../images/haciendas.webp');
		background-position: 38% center;
	}
	74.999%{
		background-image: url('../../images/haciendas.webp');
		background-position: 55% center;
	}
	75% {
		background-image: url('../../images/conference-digital-assets-sovereignty-small.webp');
		background-position: 22% center;
	}
	89.999% {
		background-image: url('../../images/conference-digital-assets-sovereignty-small.webp');
		background-position: 5% center;
	}
	90% {
		background-image: url('../../images/bg01.jpg');
		background-position: left center;
	}
	100% {
		background-image: url('../../images/bg01.jpg');
		background-position: left center;
	}
}